#background-image {
    background-image: url("IMAGENS PARA TCC/imagem de tela inicio.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#background-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Define a cor de sobreposição e o nível de transparência */
    z-index: 1;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

#tela_login{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 20px;
    color: white;
}

input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 94.5%;
}
#link{
    color: rgb(37, 37, 250);
}
button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

button:hover{
    background-color: deepskyblue;
}